
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);

*,
:after,
:before {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
	--tw-contain-size: ;
	--tw-contain-layout: ;
	--tw-contain-paint: ;
	--tw-contain-style: ;
}
::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
	--tw-contain-size: ;
	--tw-contain-layout: ;
	--tw-contain-paint: ;
	--tw-contain-style: ;
} /*! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
}
:after,
:before {
	--tw-content: "";
}
:host,
html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	font-family:
		Open Sans,
		ui-sans-serif,
		system-ui,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol,
		Noto Color Emoji;
	font-feature-settings: normal;
	font-variation-settings: normal;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
}
body {
	line-height: inherit;
	margin: 0;
}
hr {
	border-top-width: 1px;
	color: inherit;
	height: 0;
}
abbr:where([title]) {
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
pre,
samp {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		Liberation Mono,
		Courier New,
		monospace;
	font-feature-settings: normal;
	font-size: 1em;
	font-variation-settings: normal;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	border-collapse: collapse;
	border-color: inherit;
	text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-feature-settings: inherit;
	font-size: 100%;
	font-variation-settings: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
}
button,
select {
	text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
summary {
	display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0;
}
fieldset {
	margin: 0;
}
fieldset,
legend {
	padding: 0;
}
menu,
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
dialog {
	padding: 0;
}
textarea {
	resize: vertical;
}
input::placeholder,
textarea::placeholder {
	color: #9ca3af;
	opacity: 1;
}
[role="button"],
button {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}
img,
video {
	height: auto;
	max-width: 100%;
}
[hidden]:where(:not([hidden="until-found"])) {
	display: none;
}
#webcrumbs .absolute {
	position: absolute;
}
#webcrumbs .relative {
	position: relative;
}
#webcrumbs .left-3 {
	left: 12px;
}
#webcrumbs .top-2\.5 {
	top: 10px;
}
#webcrumbs .z-10 {
	z-index: 10;
}
#webcrumbs .mb-1 {
	margin-bottom: 4px;
}
#webcrumbs .mb-3 {
	margin-bottom: 12px;
}
#webcrumbs .mb-6 {
	margin-bottom: 24px;
}
#webcrumbs .mr-2 {
	margin-right: 8px;
}
#webcrumbs .mt-2 {
	margin-top: 8px;
}
#webcrumbs .mt-6 {
	margin-top: 24px;
}
#webcrumbs .mt-auto {
	margin-top: auto;
}
#webcrumbs .block {
	display: block;
}
#webcrumbs .flex {
	display: flex;
}
#webcrumbs .grid {
	display: grid;
}
#webcrumbs .hidden {
	display: none;
}
#webcrumbs .h-8 {
	height: 32px;
}
#webcrumbs .h-\[300px\] {
	height: 300px;
}
#webcrumbs .h-full {
	height: 100%;
}
#webcrumbs .min-h-screen {
	min-height: 100vh;
}
#webcrumbs .w-64 {
	width: 256px;
}
#webcrumbs .w-8 {
	width: 32px;
}
#webcrumbs .w-full {
	width: 100%;
}
#webcrumbs .flex-1 {
	flex: 1 1 0%;
}
#webcrumbs .cursor-pointer {
	cursor: pointer;
}
#webcrumbs .grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
#webcrumbs .flex-row {
	flex-direction: row;
}
#webcrumbs .flex-col {
	flex-direction: column;
}
#webcrumbs .items-center {
	align-items: center;
}
#webcrumbs .justify-center {
	justify-content: center;
}
#webcrumbs .justify-between {
	justify-content: space-between;
}
#webcrumbs .gap-4 {
	gap: 16px;
}
#webcrumbs .gap-6 {
	gap: 24px;
}
#webcrumbs :is(.space-x-1 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-x-reverse: 0;
	margin-left: calc(4px * (1 - var(--tw-space-x-reverse)));
	margin-right: calc(4px * var(--tw-space-x-reverse));
}
#webcrumbs :is(.space-x-2 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-x-reverse: 0;
	margin-left: calc(8px * (1 - var(--tw-space-x-reverse)));
	margin-right: calc(8px * var(--tw-space-x-reverse));
}
#webcrumbs :is(.space-x-3 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-x-reverse: 0;
	margin-left: calc(12px * (1 - var(--tw-space-x-reverse)));
	margin-right: calc(12px * var(--tw-space-x-reverse));
}
#webcrumbs :is(.space-x-4 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-x-reverse: 0;
	margin-left: calc(16px * (1 - var(--tw-space-x-reverse)));
	margin-right: calc(16px * var(--tw-space-x-reverse));
}
#webcrumbs :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-y-reverse: 0;
	margin-bottom: calc(4px * var(--tw-space-y-reverse));
	margin-top: calc(4px * (1 - var(--tw-space-y-reverse)));
}
#webcrumbs :is(.space-y-3 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-y-reverse: 0;
	margin-bottom: calc(12px * var(--tw-space-y-reverse));
	margin-top: calc(12px * (1 - var(--tw-space-y-reverse)));
}
#webcrumbs :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
	--tw-space-y-reverse: 0;
	margin-bottom: calc(16px * var(--tw-space-y-reverse));
	margin-top: calc(16px * (1 - var(--tw-space-y-reverse)));
}
#webcrumbs :is(.divide-y > :not([hidden]) ~ :not([hidden])) {
	--tw-divide-y-reverse: 0;
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
	border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
}
#webcrumbs :is(.divide-gray-200 > :not([hidden]) ~ :not([hidden])) {
	--tw-divide-opacity: 1;
	border-color: rgb(229 231 235 / var(--tw-divide-opacity, 1));
}
#webcrumbs .overflow-auto {
	overflow: auto;
}
#webcrumbs .overflow-hidden {
	overflow: hidden;
}
#webcrumbs .overflow-x-auto {
	overflow-x: auto;
}
#webcrumbs .rounded {
	border-radius: 12px;
}
#webcrumbs .rounded-full {
	border-radius: 9999px;
}
#webcrumbs .rounded-lg {
	border-radius: 24px;
}
#webcrumbs .rounded-xl {
	border-radius: 36px;
}
#webcrumbs .border {
	border-width: 1px;
}
#webcrumbs .border-b {
	border-bottom-width: 1px;
}
#webcrumbs .border-t {
	border-top-width: 1px;
}
#webcrumbs .border-gray-200 {
	--tw-border-opacity: 1;
	border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}
#webcrumbs .border-gray-300 {
	--tw-border-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
#webcrumbs .border-primary-500 {
	--tw-border-opacity: 1;
	border-color: rgb(115 65 255 / var(--tw-border-opacity, 1));
}
#webcrumbs .bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-gray-50 {
	--tw-bg-opacity: 1;
	background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-green-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(220 252 231 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-primary-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(233 229 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-primary-50 {
	--tw-bg-opacity: 1;
	background-color: rgb(243 241 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-primary-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(99 27 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .bg-yellow-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(254 249 195 / var(--tw-bg-opacity, 1));
}
#webcrumbs .p-1 {
	padding: 4px;
}
#webcrumbs .p-4 {
	padding: 16px;
}
#webcrumbs .p-6 {
	padding: 24px;
}
#webcrumbs .px-2 {
	padding-left: 8px;
	padding-right: 8px;
}
#webcrumbs .px-3 {
	padding-left: 12px;
	padding-right: 12px;
}
#webcrumbs .px-4 {
	padding-left: 16px;
	padding-right: 16px;
}
#webcrumbs .py-1 {
	padding-bottom: 4px;
	padding-top: 4px;
}
#webcrumbs .py-2 {
	padding-bottom: 8px;
	padding-top: 8px;
}
#webcrumbs .py-3 {
	padding-bottom: 12px;
	padding-top: 12px;
}
#webcrumbs .pb-2 {
	padding-bottom: 8px;
}
#webcrumbs .pl-9 {
	padding-left: 36px;
}
#webcrumbs .pr-3 {
	padding-right: 12px;
}
#webcrumbs .pt-2 {
	padding-top: 8px;
}
#webcrumbs .text-left {
	text-align: left;
}
#webcrumbs .text-center {
	text-align: center;
}
#webcrumbs .font-sans {
	font-family:
		Open Sans,
		ui-sans-serif,
		system-ui,
		sans-serif,
		Apple Color Emoji,
		Segoe UI Emoji,
		Segoe UI Symbol,
		Noto Color Emoji;
}
#webcrumbs .text-2xl {
	font-size: 24px;
	line-height: 31.200000000000003px;
}
#webcrumbs .text-5xl {
	font-size: 48px;
	line-height: 52.800000000000004px;
}
#webcrumbs .text-lg {
	font-size: 18px;
	line-height: 27px;
}
#webcrumbs .text-sm {
	font-size: 14px;
	line-height: 21px;
}
#webcrumbs .text-xl {
	font-size: 20px;
	line-height: 28px;
}
#webcrumbs .text-xs {
	font-size: 12px;
	line-height: 19.200000000000003px;
}
#webcrumbs .font-bold {
	font-weight: 700;
}
#webcrumbs .font-medium {
	font-weight: 500;
}
#webcrumbs .font-semibold {
	font-weight: 600;
}
#webcrumbs .uppercase {
	text-transform: uppercase;
}
#webcrumbs .text-gray-300 {
	--tw-text-opacity: 1;
	color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-gray-400 {
	--tw-text-opacity: 1;
	color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-gray-500 {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-gray-600 {
	--tw-text-opacity: 1;
	color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-gray-700 {
	--tw-text-opacity: 1;
	color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-gray-800 {
	--tw-text-opacity: 1;
	color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-green-800 {
	--tw-text-opacity: 1;
	color: rgb(22 101 52 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-primary-500 {
	--tw-text-opacity: 1;
	color: rgb(115 65 255 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-primary-600 {
	--tw-text-opacity: 1;
	color: rgb(99 27 255 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-primary-700 {
	--tw-text-opacity: 1;
	color: rgb(97 27 248 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
#webcrumbs .text-yellow-800 {
	--tw-text-opacity: 1;
	color: rgb(133 77 14 / var(--tw-text-opacity, 1));
}
#webcrumbs .shadow {
	--tw-shadow:
		0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored:
		0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
}
#webcrumbs .shadow,
#webcrumbs .shadow-md {
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
#webcrumbs .shadow-md {
	--tw-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored:
		0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
}
#webcrumbs .shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
#webcrumbs .transition-all {
	transition-duration: 0.15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#webcrumbs .transition-colors {
	transition-duration: 0.15s;
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#webcrumbs .duration-300 {
	transition-duration: 0.3s;
}
#webcrumbs {
	font-family: Open Sans !important;
	font-size: 16px !important;
}
#webcrumbs {
	width: 100%;
	min-height: 100vh;
}
#webcrumbs :is(.bg-primary-50) {
	color: rgba(0, 0, 0, 0.9) !important;
}
#webcrumbs :is(.bg-primary-100) {
	color: rgba(0, 0, 0, 0.9) !important;
}
#webcrumbs :is(.bg-primary-600) {
	color: hsla(0, 0%, 100%, 0.9) !important;
}
#webcrumbs .hover\:bg-gray-100:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:bg-gray-50:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:bg-primary-100:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(233 229 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:bg-primary-50:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(243 241 255 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:bg-primary-700:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(97 27 248 / var(--tw-bg-opacity, 1));
}
#webcrumbs .hover\:text-primary-600:hover {
	--tw-text-opacity: 1;
	color: rgb(99 27 255 / var(--tw-text-opacity, 1));
}
#webcrumbs .hover\:text-primary-700:hover {
	--tw-text-opacity: 1;
	color: rgb(97 27 248 / var(--tw-text-opacity, 1));
}
#webcrumbs .hover\:text-red-600:hover {
	--tw-text-opacity: 1;
	color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}
#webcrumbs .hover\:shadow-md:hover {
	--tw-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored:
		0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
#webcrumbs .focus\:border-transparent:focus {
	border-color: transparent;
}
#webcrumbs .focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
#webcrumbs .focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
		var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
		calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow:
		var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
		var(--tw-shadow, 0 0 #0000);
}
#webcrumbs .focus\:ring-primary-500:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(115 65 255 / var(--tw-ring-opacity, 1));
}
#webcrumbs :is(.group:hover .group-hover\:text-primary-500) {
	--tw-text-opacity: 1;
	color: rgb(115 65 255 / var(--tw-text-opacity, 1));
}
@media (min-width: 768px) {
	#webcrumbs .md\:col-span-2 {
		grid-column: span 2 / span 2;
	}
	#webcrumbs .md\:block {
		display: block;
	}
	#webcrumbs .md\:hidden {
		display: none;
	}
	#webcrumbs .md\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
